.col-md-6.col-md-offset-3
    h1 Company List
    p You're logged in!!
    div
        | List of Companies:

        table(border=1, cellspacing=0)
            thead
                th nom
                th presentation
                th status
            tbody
                tr(*ngFor="let company of companies")
                    td {{company.nom}}
                    td {{company.presentation}}
                    td {{company.status}}
        
    p
        a([routerLink]="['/logout']") Logout